.row {
  padding: 0 29px 0 31px;
}

.list_number {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 -18px;
}

.list_number li {
  width: 738px;
  counter-increment: li;
  position: relative;
  margin: 0 18px;
  padding: 56px 10px 0 26px;
}

.list_number li:before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  top: -19px;
  left: 41px;
}

.list_number li:after {
  content: counter(li);
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  left: 26px;
  top: 20px;
  position: absolute;
  left: 62px;
  top: -5px;
  position: absolute;
}

.list_number li h4 {
  font-size: 15px;
}

.list_number li p {
  font-size: 14px;
}

.branding_sc {
  font-family: "Yugothic";
  padding-left: 47px;
}

.branding_sc .block_01:after {
  content: "";
  display: block;
  clear: both;
}

.branding_sc .block_01 .branding_intro {
  width: 50%;
}

.branding_sc .block_01 .branding_intro:nth-of-type(1) h2 {
  font-size: 45px;
  margin: 144px 0 112px;
}

.branding_sc .block_01 .branding_intro:nth-of-type(1) h2 span {
  display: block;
  font-size: 15px;
  border-top: 1px solid #000;
  margin-top: 5px;
  padding-top: 8px;
  margin-right: -55px;
}

.branding_sc .block_01 .branding_intro:nth-of-type(1) figure {
  width: 532px;
  margin: 0 auto;
}

.branding_sc .block_01 .branding_intro:nth-of-type(1) .branding_des {
  margin: 83px 0 0 28px;
}

.branding_sc .block_01 .branding_intro .branding_des {
  margin: 91px 0 0 47px;
}

.branding_sc .block_01 .branding_intro .branding_des h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 14px 47px;
  margin-right: 20px;
}

.branding_sc .block_01 .branding_intro .branding_des p {
  font-size: 14px;
  line-height: 30px;
  padding: 71px 17px 17px 21px;
}

.branding_sc .block_01 .web_inner {
  height: 637px;
}

.branding_sc .block_01 .web_inner img {
  height: 100%;
  object-fit: cover;
}

.branding_sc .block_02 {
  padding: 5px 0 88px;
  counter-reset: dt;
}

.branding_sc .block_02 figure {
  width: 1056.5px;
  margin: 0 auto;
}

.branding_sc .block_02 .list_number {
  margin-top: 27px;
}

.branding_sc .block_02 .list_number li {
  background: #f5f5f5;
  padding: 56px 10px 39px 26px;
}

.branding_sc .block_02 .list_number li:before {
  content: "";
  border: 3px solid #c8c8c8;
}

.branding_sc .block_02 .list_number li h4 {
  margin-bottom: 20px;
}

.branding_sc .block_02 .list_number li p {
  font-size: 14px;
}

.branding_sc .block_03 .cv_ttl {
  border-top: 1px solid #c28fc5;
  position: relative;
  margin-bottom: 68px;
}

.branding_sc .block_03 .cv_ttl:before, .branding_sc .block_03 .cv_ttl:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #c28fc5;
  top: -8px;
}

.branding_sc .block_03 .cv_ttl:after {
  right: 0;
}

.branding_sc .block_03 .cv_ttl:before {
  left: 0;
}

.branding_sc .block_03 .cv_ttl h3 {
  text-align: center;
  color: #000;
  font-size: 24px;
  background: #ffe000;
  width: 371px;
  height: 82px;
  line-height: 82px;
  margin: 0 auto;
  position: absolute;
  top: -41px;
  left: 0;
  right: 0;
}

.branding_sc .block_03 ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.branding_sc .block_03 ul li {
  width: calc(100% / 2);
  padding-bottom: 67px;
}

.branding_sc .block_03 ul li:nth-of-type(3) h4 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #8c8c8c;
  padding: 0 0 14px 60px;
  margin-right: 20px;
}

.branding_sc .block_03 ul li:nth-of-type(3) h4 span {
  font-weight: normal;
  font-size: 15px;
}

.branding_sc .block_03 ul li:nth-of-type(3) p {
  font-size: 14px;
  line-height: 30px;
  border-left: 2px solid #8c8c8c;
  margin-top: -52px;
  padding: 71px 20px 17px 21px;
  margin-left: 35px;
  text-align: justify;
}

.branding_sc .block_03 ul li:nth-of-type(3) p a {
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

.branding_sc .block_03 ul li:nth-of-type(4) figure {
  width: 461px;
  margin: 0 auto;
}

.branding_sc .block_03 ul li:nth-of-type(4) p {
  font-size: 15px;
  margin-top: 73px;
  text-align: center;
}

.branding_sc .block_03 ul li:nth-of-type(5) {
  padding-right: 20px;
  padding-bottom: 0;
}

.branding_sc .block_03 ul li:nth-of-type(6) {
  padding-left: 20px;
  padding-bottom: 0;
}

.block_04 {
  background: #ffe000;
  padding: 75px 0 77px 47px;
}

.block_04 .cv_ttl {
  border-bottom: 1px solid #000;
  text-align: center;
  margin-bottom: 64px;
}

.block_04 .cv_ttl:after {
  width: 16px;
  height: 16px;
  background: #000;
  left: 0;
  top: 37px;
}

.block_04 .cv_ttl:before {
  width: 16px;
  height: 16px;
  background: #000;
  right: 0;
  top: 37px;
}

.block_04 .cv_ttl h3 {
  font-size: 30px;
}

.block_04 .list_number li {
  background: #fff;
  padding: 40px 20px 30px;
}

.block_04 .list_number li:before {
  content: "";
  border: 3px solid #000;
  top: -26px;
  left: 21px;
}

.block_04 .list_number li:after {
  left: 43px;
  top: -13px;
}

.block_04 .list_number li h4 {
  font-size: 15px;
  margin-bottom: 15px;
}

.block_04 .list_number li p {
  font-size: 14px;
}

.block_04 .list_number li p em {
  color: #c28fc5;
  font-style: normal;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 64px -20px 0;
}

.btn a {
  width: 50%;
  height: 80px;
  line-height: 80px;
  display: block;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 23px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  margin: 0 20px;
}

.btn a:hover {
  opacity: 0.8;
}
