.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.header {
  .right {
    .menu_btn {

    }
    .logo {
      width: percentage(80/565);
      margin: 0 auto;
    }
  }
}
