.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.main_content {
  padding: 85px 25px 0;
}
.cont_r {
  text-align: center;
  padding: 0 20px 0 20px;
  section {
    padding-bottom: 77px;
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 15px 0 -17px;
      overflow: hidden;
      &:before, &:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
      &:before {
        right: 7px;
      }
      &:after {
        left: 7px;
        margin-top: -133px;
      }
      em {
        font-family: "Yugothic";
        font-style: normal;
      }
      span {
        display: block;
        font-size: 11px;
        line-height: 24px;
        font-weight: normal;
        margin-top: 4px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
      }
    }
    figure {
      margin: 0 auto;
    }
  }
  .branding {
    figure {
      width: 299px;
    }
    h2 {
      &:before {
        margin-left: -50%
      }
      &:after {
        margin-right: -72%;
        margin-top: -109px;
      }
    }
  }
  .web {
    figure {
      width: 295px;
    }
    h2 {
      &:before {
        margin-left: -50%
      }
      &:after {
        margin-right: -61%;
        margin-top: -108px;
        left: 7px;
      }
    }
  }
  .design {
    figure {
      width: 286px;
    }
    h2 {
      &:before {
        margin-left: -50%
      }
      &:after {
        left: 16px;
        margin-right: -89%;
        margin-top: -115px;
      }
    }
  }
  .advertising {
    figure {
      width: 305px;
    }
    h2 {
      &:before {
        margin-left: -50%
      }
      &:after {
        margin-right: -79%;
        margin-top: -108px;
      }
    }
  }
}
