//
// PAGE Top
//------------------------------------------------------------------------
@charset "utf-8";
main {
  .firstview {
    .scroll {
      bottom: 33px;
      right: 181px;
      position: fixed;
      span {
        font-size: 15px;
        position: relative;
        border: 1px solid #fff;
        width: 64px;
        height: 61px;
        line-height: 61px;
        display: block;
        text-align: center;
        color: #fff;
        font-weight: bold;
        &:after {
          content: "";
          width: 14px;
          height: 14px;
          position: absolute;
          border-bottom: 3px solid #fff;
          border-right: 3px solid #fff;
          transform: rotate(45deg);
          bottom: 8px;
          left: 23px;
        }
      }
    }
  }
  .main_content {
    position: relative;
    background: #fff;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .cont_r {
      float: right;
      width: 450px;
      padding: percentage(123/1440) 20px 0;
      text-align: center;
      &.isOpen {
        width: 600px;
      }
      section {
        padding-bottom: percentage(73/1440);
        h2 {
          font-size: 35px;
          font-weight: 600;
          margin: 15px 0 -17px;
          overflow: hidden;
          &:before, &:after {
            background-color: #000;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
          }
          &:before {
            right: 7px;
          }
          &:after {
            left: 7px;
            margin-top: -129px;
          }
          em {
            font-family: "Yugothic";
            font-style: normal;
          }
          span {
            display: block;
            font-size: 11px;
            line-height: 24px;
            font-weight: normal;
            margin-top: 4px;
          }
        }
        figure {
          margin: 0 auto;
        }
      }
      .branding {
        figure {
          width: 299px;
        }
        h2 {
          &:before {
            margin-left: -50%
          }
          &:after {
            margin-right: -80%;
          }
        }
      }
      .web {
        figure {
          width: 295px;
        }
        h2 {
          &:before {
            margin-left: -50%
          }
          &:after {
            margin-right: -65%;
            left: 7px;
          }
        }
      }
      .design {
        figure {
          width: 286px;
        }
        h2 {
          &:before {
            margin-left: -50%
          }
          &:after {
            left: 16px;
            margin-right: -104%;
          }
        }
      }
      .advertising {
        figure {
          width: 305px;
        }
        h2 {
          &:before {
            margin-left: -50%
          }
          &:after {
            margin-right: -87%;
          }
        }
      }
    }
    .sub_img {
      float: left;
      width: calc(100% - 450px);
      figure {
        margin-top: -4px;
        width: 100%;
      }
    }
  }
}
