//
// PAGE Top
//------------------------------------------------------------------------
@charset "utf-8";
main {
  .firstview {
    position: relative;
    z-index: 10;
    .videowrapper {
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      video {
        width: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }
    .scroll {
      bottom: 33px;
      right: 181px;
      position: fixed;
      span {
        font-size: 15px;
        position: relative;
        border: 1px solid #fff;
        width: 64px;
        height: 61px;
        line-height: 61px;
        display: block;
        text-align: center;
        color: #fff;
        font-weight: bold;
        &:after {
          content: "";
          width: 14px;
          height: 14px;
          position: absolute;
          border-bottom: 3px solid #fff;
          border-right: 3px solid #fff;
          transform: rotate(45deg);
          bottom: 8px;
          left: 23px;
        }
      }
    }
  }
  .cont_r {
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    transition: all .4s ease;
    overflow: hidden;
    background: #fff;
    &.opencontent {
      width: 450px;
      section {
        opacity: 1;
      }
    }
    .scroll_cont {
      overflow-y: scroll;
      width: 100%;
      padding: 0 17px 0 17px;
    }
    section {
      padding-bottom: 50px;
      opacity:0;
      a {
        color: #000;
        text-decoration: none;
      }
      h2 {
        font-size: 35px;
        font-weight: 600;
        margin: 15px 0 -17px;
        overflow: hidden;
        &:before, &:after {
          background-color: #000;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
        }
        &:before {
          right: 7px;
        }
        &:after {
          left: 7px;
          margin-top: -129px;
        }
        em {
          font-family: "Yugothic";
          font-style: normal;
        }
        span {
          display: block;
          font-size: 11px;
          line-height: 24px;
          font-weight: normal;
          margin-top: 4px;
        }
      }
      figure {
        margin: 0 auto;
      }
    }
    .branding {
      figure {
        width: 299px;
      }
      h2 {
        &:before {
          margin-left: -50%
        }
        &:after {
          margin-right: -80%;
        }
      }
    }
    .web {
      figure {
        width: 295px;
      }
      h2 {
        &:before {
          margin-left: -50%
        }
        &:after {
          margin-right: -65%;
          left: 7px;
        }
      }
    }
    .design {
      figure {
        width: 286px;
      }
      h2 {
        &:before {
          margin-left: -50%
        }
        &:after {
          left: 16px;
          margin-right: -104%;
        }
      }
    }
    .advertising {
      figure {
        width: 305px;
      }
      h2 {
        &:before {
          margin-left: -50%
        }
        &:after {
          margin-right: -87%;
        }
      }
    }
  }
}
