//
// footer
//------------------------------------------------------------------------

.sc_foo {
  background: #fff;
  padding: 95px 0 322px;
  small {
    padding-left: 80px;
    font-size: 14px;
  }
}
