.header {
  .right {
    padding: percentage(32/565) 0;
    position: relative;
    .menu_btn {
      position: absolute;
      right: 0;
      top: 8px;
      width: 39px;
      height: 35px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      margin-right: 30px;
      cursor: pointer;
      z-index: 9999;
      span {
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 25px;
        }
      }
      &.is-active {
        span {
          &:nth-child(1) {
            top: 10px;
            transform: rotate(135deg);
            transition: .7s ease;
            background: #fff;
            opacity: 0.8;
          }
          &:nth-child(2) {
            opacity: 0;
            right: 100px;
            background: #fff;
          }
          &:nth-child(3) {
            top: 10px;
            transform: rotate(-135deg);
            transition: .7s ease;
            background: #fff;
          }
        }
      }
    }
    .logo {
      width: percentage(80/565);
      margin: 0 auto;
    }
    p{
      font-size: 23px;
      text-align: center;
      margin: percentage(135/565) 0 percentage(132/565);
    }
  }
  .cv_nav {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 50px;
    nav {
      overflow: hidden;
      text-align: center;
      ul {
        li {
          margin-bottom: 50px;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 40px;
            position: relative;
            line-height: 1;
            &:before {
              position: absolute;
              content: "";
              z-index: -1;
              left: 0;
              right: 100%;
              bottom: 0;
              background: #fff;
              height: 2px;
              transition-property: right;
              transition-duration: 0.5s;
              transition-timing-function: ease-out;
            }
            &:hover::before {
              right: 0;
            }
            em {
              font-family: "Yugothic";
              font-style: normal;
            }
          }
        }
      }
    }
  }
  .is_active {
    opacity: 0;
    transition: .5s ease-in-out;
    pointer-events: none;
    cursor: default;
  }
  .active {
    opacity: 1;
    transition: .5s ease-in-out;
  }
}
.firstview {
  .scroll {
    display: none;
  }
}
