//
// header
//------------------------------------------------------------------------
@charset "utf-8";
.header {
  position: fixed;
  width: 150px;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
  .right {
    background: #fff;
    position: relative;
    padding: 34px 0 0;
    .menu_btn {
      position: relative;
      width: 29px;
      height: 28px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      margin: 0 auto;
      cursor: pointer;
      span {
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 11px;
        }
        &:nth-child(3) {
          top: 22px;
        }
      }
    }
    .logo {
      width: 64px;
      margin: 140px auto 75px;
    }
    p {
      writing-mode: vertical-rl;
      line-height: 48px;
      font-size: 24px;
      padding: 0 50px;
      font-weight: 600;
    }
  }
}
