.header {
  .right {
    padding: percentage(32/565) 0;
    position: relative;
    .menu_btn {
      position: absolute;
      right: 0;
      top: 8px;
      width: 39px;
      height: 35px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      margin-right: 30px;
      cursor: pointer;
      span {
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 25px;
        }
      }
      &.open {
        span {
          &:nth-child(1) {
            top: 10px;
            transform: rotate(135deg);
            transition: .7s ease;
            background: #000;
          }
          &:nth-child(2) {
            opacity: 0;
            right: 100px;
            background: #000;
          }
          &:nth-child(3) {
            top: 10px;
            transform: rotate(-135deg);
            transition: .7s ease;
            background: #000;
          }
        }
      }
    }
    .logo {
      width: percentage(80/565);
      margin: 0 auto;
    }
    p{
      font-size: 23px;
      text-align: center;
      margin: percentage(135/565) 0 percentage(132/565);
    }
  }
  .cv_nav {
    display: none;
  }
  .hidden {
    opacity: 0;
    transition: .5s ease-in-out;
    pointer-events: none;
    cursor: default;
  }
  .visible {
    opacity: 1;
    transition: .5s ease-in-out;
    nav {
      text-align: center;
      background: #000;
      color: #fff;
      font-weight: 400;
      font-size: 40px;
      width: 100%;
      ul {
        li {
          text-decoration: none;
        }
      }
    }
  }
}
.firstview {
  .scroll {
    display: none;
  }
}
