.header {
  .right {
    padding: percentage(32/565) 0;
    position: relative;
    .menu_btn {
      position: absolute;
      right: 0;
      top: 8px;
      width: 39px;
      height: 35px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      margin-right: 30px;
      cursor: pointer;
      span {
        position: absolute;
        height: 5px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 25px;
        }
      }
    }
    .logo {
      width: percentage(80/565);
      margin: 0 auto;
    }
    p{
      font-size: 23px;
      text-align: center;
      margin: percentage(135/565) 0 percentage(132/565);
    }
  }
}
.firstview {
  .scroll {
    display: none;
  }
}
